[Unit]
Description=Gitolite Server
After=docker.service boot.service
Requires=docker.service
Wants=boot.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

#---------------------------------
# Preparations for the container:
#---------------------------------

ExecStartPre=-/usr/sbin/docker kill gito01
ExecStartPre=-/usr/sbin/docker rm gito01
ExecStartPre=-/usr/sbin/docker pull h0tbird/gito:latest

#----------------------
# Start the container:
#----------------------

ExecStart=/usr/bin/sh -c "docker run -t \
  --volume   /data/gito/repos:/home/git/repositories \
  --hostname gito01.demo.lan \
  --name     gito01 \
  --net      none \
  --env      WAIT_IFACE=eth1 \
  h0tbird/gito:latest"

#--------------------------------
# Setup the container's network:
#--------------------------------

ExecStartPost=/usr/sbin/sleep 2
ExecStartPost=/usr/bin/sh -c " \
  PID=$(docker inspect --format='{{ .State.Pid }}' gito01); \
  [ ! -d /var/run/netns ] && mkdir -p /var/run/netns; \
  ln -fs /proc/$PID/ns/net /var/run/netns/$PID; \
  [ -f /run/dhcpcd-eth1* ] && rm -f /run/dhcpcd-eth1*; \
  ip link add gito01-int type veth peer name veth-gito01; \
  ip link set veth-gito01 master br0; \
  ip link set veth-gito01 up; \
  ip link set netns $PID dev gito01-int; \
  ip netns exec $PID ip link set gito01-int name eth1; \
  ip netns exec $PID dhcpcd -4 -A -c /bin/true -q eth1 -h gito01"

#---------------------
# Stop the container:
#---------------------

ExecStop=/usr/sbin/docker stop gito01

[Install]
WantedBy=multi-user.target
